In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f     True
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as libray
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.317738  2.372399  0.226945
b       NaN       NaN       NaN
c  1.022402  0.169836  0.431628
d       NaN       NaN       NaN
e  2.596136 -0.710390 -0.327032
f       NaN       NaN       NaN
g       NaN       NaN       NaN
h -1.694240 -0.089349  1.390214

In [ ]:
import pandas as libray
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print("NaN Rreplaced with 'o'':")
print(df.fillna(0))

NaN Rreplaced with 'o'':
        one       two     three
a  1.038869  1.871682 -1.693833
b  0.000000  0.000000  0.000000
c -1.102070 -0.762582 -0.481904
d  0.000000  0.000000  0.000000
e -1.108135 -0.559101  0.244652
f  0.000000  0.000000  0.000000
g  0.000000  0.000000  0.000000
h -0.301005  1.284742  0.800194

In [ ]:
import pandas as libray
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print('.............')
print(df.fillna(method='pad'))

.............
        one       two     three
a -1.204439  1.051139 -0.366670
b -1.204439  1.051139 -0.366670
c  0.052307  1.934404 -0.047910
d  0.052307  1.934404 -0.047910
e -1.344383 -0.603165  0.549932
f -1.344383 -0.603165  0.549932
g -1.344383 -0.603165  0.549932
h -0.975857  0.707255 -0.102744

In [ ]:
import pandas as libray
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print('.............')
print(df.fillna(method='bfill'))

.............
        one       two     three
a -0.899400 -0.544253  0.706965
b -0.718255 -1.100456  0.456117
c -0.718255 -1.100456  0.456117
d  0.041269  0.881556  1.344061
e  0.041269  0.881556  1.344061
f -0.515678  0.037266 -0.475243
g -0.515678  0.037266 -0.475243
h -0.515678  0.037266 -0.475243

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','F','h'],columns=['one','two','three'])
print(df)
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print(df.dropna())

        one       two     three
a  0.171761 -0.043087  1.887479
c -0.435426  1.009792 -0.349454
e -0.702239 -0.338828  0.919085
F  1.207055 -0.431374 -1.083384
h -1.287877  0.653076 -1.178824
        one       two     three
a  0.171761 -0.043087  1.887479
b       NaN       NaN       NaN
c -0.435426  1.009792 -0.349454
d       NaN       NaN       NaN
e -0.702239 -0.338828  0.919085
f       NaN       NaN       NaN
g       NaN       NaN       NaN
h -1.287877  0.653076 -1.178824
        one       two     three
a  0.171761 -0.043087  1.887479
c -0.435426  1.009792 -0.349454
e -0.702239 -0.338828  0.919085
h -1.287877  0.653076 -1.178824

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/Iris.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df()

NameError: name 'body' is not defined

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
import pandas as pd
print(df)
print(df.titanic,dumie
df = pd.concat((df.titanic_dumies), axis=1)
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]

AttributeError: 'DataFrame' object has no attribute 'titanic'

In [ ]:
y = (x-min)/(max-min)

NameError: name 'x' is not defined

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5,6], [0, 10], [1,18]]
scaler = MinMaxScaler()
print(scaler.fit(data))
print('----------')
MinMaxScaler()
print(scaler.data_max_)
print('----------')
print(scaler.transform(data))

MinMaxScaler()
----------
[ 1. 18.]
----------
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:

from sklearn.preprocessing import StandardScaler
data = asarray([[100, 0.001], [8, 0.05], [50, 0.05], [88, 0.07], [4,0.1]])
print(data)
scaler = StandardScaler()
scaled = scaler.fit_transform(data)
print(scaled)from numpy import asarray
Data Cleaning.ipynb
Data Cleaning.ipynb_Notebook unstarred

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-02]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.64763536]
 [-1.06174414 -0.13007648]
 [ 0.         -0.13007648]
 [ 0.96062565  0.48933531]
 [-1.16286263  1.418453  ]]